# Demographic Data Analyzer

In this challenge you must analyze demographic data using Pandas. You are given a dataset of demographic data that was extracted from the 1994 Census database. Here is a sample of what the data looks like:

|    |   age | workclass        |   fnlwgt | education   |   education-num | marital-status     | occupation        | relationship   | race   | sex    |   capital-gain |   capital-loss |   hours-per-week | native-country   | salary   |
|---:|------:|:-----------------|---------:|:------------|----------------:|:-------------------|:------------------|:---------------|:-------|:-------|---------------:|---------------:|-----------------:|:-----------------|:---------|
|  0 |    39 | State-gov        |    77516 | Bachelors   |              13 | Never-married      | Adm-clerical      | Not-in-family  | White  | Male   |           2174 |              0 |               40 | United-States    | <=50K    |
|  1 |    50 | Self-emp-not-inc |    83311 | Bachelors   |              13 | Married-civ-spouse | Exec-managerial   | Husband        | White  | Male   |              0 |              0 |               13 | United-States    | <=50K    |
|  2 |    38 | Private          |   215646 | HS-grad     |               9 | Divorced           | Handlers-cleaners | Not-in-family  | White  | Male   |              0 |              0 |               40 | United-States    | <=50K    |
|  3 |    53 | Private          |   234721 | 11th        |               7 | Married-civ-spouse | Handlers-cleaners | Husband        | Black  | Male   |              0 |              0 |               40 | United-States    | <=50K    |
|  4 |    28 | Private          |   338409 | Bachelors   |              13 | Married-civ-spouse | Prof-specialty    | Wife           | Black  | Female |              0 |              0 |               40 | Cuba             | <=50K    |

You must use Pandas to answer the following questions:

- How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)
- What is the average age of men?
- What is the percentage of people who have a Bachelor's degree?
- What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
- What percentage of people without advanced education make more than 50K?
- What is the minimum number of hours a person works per week?
- What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
- What country has the highest percentage of people that earn >50K and what is that percentage?

Identify the most popular occupation for those who earn >50K in India.
Use the starter code in the file demographic_data_analyzer.py. Update the code so all variables set to None are set to the appropriate calculation or code. Round all decimals to the nearest tenth.

# My Solution

In [ ]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell; InteractiveShell.ast_node_interactivity = "last_expr_or_assign"

# Read data from file
df = pd.read_csv("adult_data.csv")
display(df)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [2]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = df["race"].value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [3]:
# What is the average age of men?
average_age_men = df.groupby('sex')['age'].mean()['Male'].round(1)

39.4

In [4]:
# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors = round(df.query("education == 'Bachelors'").shape[0]/df.shape[0] * 100, 1)

16.4

In [5]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?

# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = df.query("education.isin(['Bachelors', 'Masters', 'Doctorate'])")
lower_education = df.query("~education.isin(['Bachelors', 'Masters', 'Doctorate'])")

# percentage with salary >50K
higher_education_rich = round(higher_education.query("salary == '>50K'").shape[0]/higher_education.shape[0] * 100, 1)
lower_education_rich = round(lower_education.query("salary == '>50K'").shape[0]/lower_education.shape[0] * 100, 1)

17.4

In [6]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df["hours-per-week"].min()

1

In [7]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = df.query("`hours-per-week` == @min_work_hours")

rich_percentage = num_min_workers.query("salary == '>50K'").shape[0]/num_min_workers.shape[0] * 100

10.0

In [8]:
# What country has the highest percentage of people that earn >50K?
highest_earning_country = df.groupby("native-country")['salary'].value_counts(normalize=True).unstack()[">50K"].nlargest(1).index[0]
highest_earning_country_percentage = df.groupby("native-country")['salary'].value_counts(normalize=True).unstack()[">50K"].nlargest(1).iloc[0].round(3)*100

41.9

In [9]:
# What country has the highest percentage of people that earn >50K?
# highest_earning_country = df[["salary", "native-country"]].groupby("native-country").apply(lambda i: i.loc[i["salary"] == ">50K"].size / i.size * 100).idxmax()
# highest_earning_country_percentage = round(df[["salary", "native-country"]].groupby("native-country").apply(lambda i: i.loc[i["salary"] == ">50K"].size / i.size * 100).max(), 1)

In [10]:
# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = df.query("`native-country` == 'India' & `salary` == '>50K'")["occupation"].value_counts().idxmax()

'Prof-specialty'